
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}


.about {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
  position: relative;
  padding-top: 80px;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.stati-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 0.8);
  width: 50%;
}

.viada_stats,
.circle_stats,
.neste_stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.viada, .circle, .neste {
  font-size: 25px;
  font-weight: bold;
}
